
.header{
    text-align:center;
}
.header h1{
    margin-bottom: 0;
}

.header p{
    margin-top:0;
}

.body{
    display:flex;
}

.left{
    width:300px;

}

.left textarea{
    margin-top:10%;
    resize:vertical;
    width:98%;
    border:2px solid #00a82d;
    transition:0.2s border ease-in-out;
}

.left textarea:focus{
    outline: none !important;
    border-color:#14cc45;
    
}

.left button{
    background-color:#00a82d;
    border:none;
    transition:0.2s background ease-in-out;
    width:100%;
    font-size:1.8rem;
    padding:0.5rem;
    border-radius:3px
}

.left button:hover{
    background-color:#14cc45 ;
}

.right{
    flex:50%;
    text-align:center;
}