
.header{
    text-align:center;
    display:flex;
    border-bottom:2px dashed black;
    padding-bottom:20px;
}

.header img{
    width:100px;
}

.header .left{
    flex:25%;
}

.header .right{
    flex:25%;
}   

.header .text{
    flex:50%;
    font-family: 'Montserrat', sans-serif;
}

.header .text h1{
    margin-bottom: 0;
}

.header .text p{
    margin-top:0;
}

.body{
    display:flex;
}

.body .left{
    width:350px;
    padding:5px;
}

.left textarea{
    margin-top:10%;
    resize:vertical;
    width:97%;
    height:200px;
    border:2px solid #00a82d;
    transition:0.2s border ease-in-out;
    font-family: 'Source Sans Pro', sans-serif;
}

.left textarea:focus{
    outline: none !important;
    border-color:#14cc45;
    
}

.left button{
    background-color:#00a82d;
    border:none;
    transition:0.2s background ease-in-out;
    width:100%;
    font-size:1.8rem;
    padding:0.5rem;
    border-radius:3px;
    font-family: 'Source Sans Pro', sans-serif;
}

.left button:hover{
    background-color:#14cc45 ;
}



.body .right{
    flex:50%;
    text-align:center;
    padding:5px;
    border-left:2px dashed black;
    border-bottom:2px dashed black;
}

.right h1{
    font-family: 'Montserrat', sans-serif;
}

.right h3{
    font-family: 'Montserrat', sans-serif;
}

.note{
    border:#14cc45;
    margin-bottom:10px
}

 .notes .note{
    border:2px solid #00a82d;
    padding: 5px;
    text-align:left;
    display:flex;
}

.note .text{
    flex:100%
}

.note a{
    font-family: 'Source Sans Pro', sans-serif;
    margin-right:20px;
}

.note button{
    background-color:#00a82d;
    border:none;
    transition:0.2s background ease-in-out;
    width:auto;
    font-size:1rem;
    padding:0.25rem;
    border-radius:3px;
    font-family: 'Source Sans Pro', sans-serif;
    flex:auto;
    
}

.note button:hover{
    background-color:#14cc45 ;
}